/*
Theme Name: BubbleScribble
Author: PWT
Theme URI: http://www.pwtthemes.com/theme/honma-free-responsive-wordpress-theme
Author URI: http://www.stefanciobanu.com
Description: BubbleScribble is an attractive  free WordPress theme available business websites or blogs. This free wordpress themes also supports HTML5/CSS3 and responsive layout. Set the branding with ease with our user friendly and detailed admin options.
Version: 1.0.3
Tags: green, black, white, light, one-column, two-columns, right-sidebar, responsive-layout, custom-menu, custom-background, editor-style, featured-images, full-width-template, theme-options, threaded-comments, translation-ready
License: GNU General Public License v3.0
License URI: http://www.gnu.org/licenses/gpl-3.0.html
Text Domain: bubblescribble
*/

@charset "utf-8";
body {
    margin:0;
    padding:0;
    width:100%;
    color:#fff;
    font:normal 12px/1.8em Arial, Helvetica, sans-serif;
}
html, .main {
    padding:0;
    margin:0;
    background:#3f7486 url(images/bg.gif) repeat-x top;
}
.clr {
    clear:both;
    padding:0;
    margin:0;
    width:100%;
    font-size:0;
    line-height:0;
}
.logo {
    padding:64px 0 0;
}
h1 {
    margin:0;
    padding:16px 0;
    color:#fff;
    font:bold 40px/1.2em Arial, Helvetica, sans-serif;
    letter-spacing:-2px;
    text-align:center;
}
h1 a, h1 a:hover {
    color:#fff;
    text-decoration:none;
}
h1 span a{
    color:#65cde7;
}
h1 small {
    display:block;
    padding:0;
    font:normal 13px/1.2em Arial, Helvetica, sans-serif;
    letter-spacing:normal;
}
h2 {
    font:bold 24px Arial, Helvetica, sans-serif;
    padding:8px 0;
    margin:8px 0;
    color:#fff;
}

.article_text h2 a{
    text-decoration: none;
    color:#fff;
}
.widget-title {
    font:bold 24px Arial, Helvetica, sans-serif;
    padding:8px 0;
    margin:8px 0;
    color:#fff;
}

p {
    margin:8px 0;
    padding:0 0 8px 0;
    font:normal 12px/1.8em Arial, Helvetica, sans-serif;
}
p.spec {
    text-align:right;
}
a {
    color:#52aec6;
    text-decoration:underline;
}
a.rm, a.com, p span.date {
    padding:4px 12px;
    background-color:#52aec6;
    text-decoration:none;
    color:#fff;
}
a.rm, a.com, p span.date, ul.menu li a:hover, ul.ex_menu li a:hover, .gadget a:hover, .col a:hover {
    border-radius:6px;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
}
.header, .content, .menu_nav, .fbg, .footer, form, ol, ol li, ul, .content .mainbar, .content .sidebar {
    margin:0;
    padding:0;
}
.fbg_resize {
    margin:0 auto;
    padding:0 40px;
    width:890px;
}
.header {
    padding:0 0 28px;
}
.header_resize {
    margin:0 auto;
    padding:0;
    width:970px;
    background:#f00 url(images/menu.gif) repeat-x top;
}
.header_resize {
    border-bottom-left-radius:12px;
    -moz-border-radius-bottomleft:12px;
    -webkit-border-bottom-left-radius:12px;
    border-bottom-right-radius:12px;
    -moz-border-radius-bottomright:12px;
    -webkit-border-bottom-right-radius:12px;
}
.hbg {
    background:url(images/image.jpg) no-repeat top;
    height:211px;
}
.menu_nav {
    margin:0;
    padding:0 0 0 40px;
    float:left;
}
.menu_nav ul {
    list-style:none;
}
.menu_nav ul li {
    margin:0;
    padding:0 16px 0 0;
    float:left;
}
.menu_nav ul li a {
    display:block;
    margin:0;
    padding:20px 24px;
    color:#52aec6;
    text-decoration:none;
    font-size:13px;
    text-transform:uppercase;
}
.menu_nav ul li.current-menu-item a, .menu_nav ul li a:hover {
    background:#f00 url(images/menu_a.gif) repeat-x center;
    color:#fff;
}
.content_resize {
    margin:0 auto;
    padding:0;
    width:970px;
}
.content .mainbar {
    margin:0;
    padding:0;
    float:right;
    width:670px;
}
.content .mainbar img {
    padding:4px;
    border:1px solid #577c88;
}
.content .mainbar img.fl {
    margin:4px 16px 4px 0;
    float:left;
}
.content .mainbar .article {
    margin:0;
    padding:16px 24px 24px 40px;
}
.content .sidebar {
    padding:0;
    float:left;
    width:300px;
}
.content .sidebar .gadget {
    margin:0;
    padding:16px 16px 24px 40px;
}
ul.menu, ul.ex_menu, .gadget ul, .col ul {
    margin:0;
    padding:0;
    list-style:none;
    color:#fff;
}
ul.menu li, ul.ex_menu li {
    margin:0;
}
ul.menu li {
    padding:4px 0 4px 12px;
    width:220px;
}
ul.ex_menu li {
    padding:4px 0 8px 12px;
}
ul.menu li a, ul.ex_menu li a, .gadget a, .col a{
    color:#fff;
    text-decoration:none;
    margin-left:-12px;
    padding:6px 12px;
}
ul.menu li a:hover, ul.ex_menu li a:hover, .gadget a:hover, .col a:hover {
    color:#fff;
    background-color:#52aec6;
}
ul.menu li a:hover, .gadget a:hover  {
    text-decoration:underline;
}
ul.ex_menu li a:hover {
    text-decoration:none;
}
.content .mainbar .comment {
    margin:0;
    padding:16px 0 0 0;
}
.content .mainbar .comment img.userpic {
    border:1px solid #dedede;
    margin:10px 16px 0 0;
    padding:0;
    float:left;
}
.fbg_resize {
    padding:24px 40px;
    color:#fff;
    background:url(images/fbg_bg.gif) repeat-x top;
}
.fbg h2 {
    color:#fff;
}
.fbg img {
    padding:4px;
    border:1px solid #577c88;
    background-color:#fff;
}
.fbg .col {
    margin:0;
    float:left;
}
.fbg .c1 {
    padding:0 16px 0 0;
    width:270px;
}

.fbg .c1 img {
    margin:8px 16px 8px 0;
}
.fbg .c3 img {
    margin:8px 16px 4px 0;
    float:left;
}
.footer_resize {
    border-top-left-radius:12px;
    -moz-border-radius-topleft:12px;
    -webkit-border-top-left-radius:12px;
    border-top-right-radius:12px;
    -moz-border-radius-topright:12px;
    -webkit-border-top-right-radius:12px;
}
.footer_resize {
    margin:0 auto;
    padding:19px 40px;
    width:890px;
    background:#4fa3ba url(images/footer_bg.gif) repeat-x top;
    color:#fff;
}
.footer p {
    margin:0;
    padding:4px 0;
    line-height:normal;
    color:#fff;
}
.footer a {
    color:#fff;
    padding:inherit;
    text-decoration:underline;
}
.footer a:hover {
    text-decoration:none;
}
.footer .lf {
    float:left;
}
.footer .rf {
    float:right;
}
ol {
    list-style:none;
}
ol li {
    display:block;
    clear:both;
}
ol li label {
    display:block;
    margin:0;
    padding:16px 0 0 0;
}
ol li input.text {
    width:480px;
    border:1px solid #c0c0c0;
    margin:2px 0;
    padding:5px 2px;
    height:16px;
    background:#fff;
}
ol li textarea {
    width:480px;
    border:1px solid #c0c0c0;
    margin:2px 0;
    padding:2px;
    background:#fff;
}
ol li .send {
    margin:16px 0 0 0;
}

.page_section {

    font-size: 13px;
}

.next {
    float:right;
    font:bold 24px Arial, Helvetica, sans-serif;
    padding:8px 8px;
    margin:8px 0;
    color:#fff;
    border-bottom-left-radius:12px;
    -moz-border-radius-bottomleft:12px;
    -webkit-border-bottom-left-radius:12px;
    border-bottom-right-radius:12px;
    -moz-border-radius-bottomright:12px;
    -webkit-border-bottom-right-radius:12px;
    border-top-left-radius:12px;
    -moz-border-radius-topleft:12px;
    -webkit-border-top-left-radius:12px;
    border-top-right-radius:12px;
    -moz-border-radius-topright:12px;
    -webkit-border-top-right-radius:12px;
    background:#f00 url(images/menu.gif) repeat-x top;
}

.prev {
    float:left;
    font:bold 24px Arial, Helvetica, sans-serif;
    padding:8px 8px;
    margin:8px 0;
    color:#fff;
    border-bottom-left-radius:12px;
    -moz-border-radius-bottomleft:12px;
    -webkit-border-bottom-left-radius:12px;
    border-bottom-right-radius:12px;
    -moz-border-radius-bottomright:12px;
    -webkit-border-bottom-right-radius:12px;
    border-top-left-radius:12px;
    -moz-border-radius-topleft:12px;
    -webkit-border-top-left-radius:12px;
    border-top-right-radius:12px;
    -moz-border-radius-topright:12px;
    -webkit-border-top-right-radius:12px;
    background:#f00 url(images/menu.gif) repeat-x top;
}
.next, .prev{
    color: #999;
}

.article_img {
    float: left;
    margin: 10px;
}